body{
  margin: 0;
  padding: 0;
  font-family:'futura-text';
  color: black;
  background: #DAE4E3;
}


/*FLEXBOX CHEATS*/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row{
  display: flex;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
}

/*HEADER*/

header {
  background: #DAE4E3;
  height:8vh;
  width: 100%;
  position: fixed;
}

#headerLogo {
  width: 165px;
  height: 44px;
  margin-left: 20px;
}

.header_elements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:100%;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  font-size: 20px;
  margin: 0 20px;
  text-decoration: none;
  color: #000;
}
nav a:hover {
  border-bottom: solid 3px #510E10;
}
.hamburger{
  display: none;
}

/*social media*/
.social_media img{
  margin: 0 5px;
}

/* MAIN*/

/*FIRST PART*/
.main_part1{
  background-color: #510E10;
  height: 100vh;
  width:100%;
  display: flex;
  flex-direction: row;
}
.main_part1_hezenintro {
  width:45%;
  height: 100%;
  color:white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_part1_hezenintro h1 {
  font-family: "futura-logo";
  font-size: 10rem;
  margin:0;
}
.main_part1_hezenintro h3 {
  font-size: 1.8rem;
  font-weight: 100;
  margin: 5vh 0 0 0;
}
.main_part1_hezenintro h2 {
  font-family: "NauSea";
  font-size: 3rem;
  font-weight: 100;
}
.main_part1_hezenintro a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #DAE4E3;
  border-radius: 10px;
  padding: 3% 25% 3% 25%;
}
.main_part1_youtubeAPI{
  width:55%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_part1_youtubeAPI iframe {
  width:790px;
  height:444px;
}
.arrow_anchor {
  width:160px;
  position: absolute;
  top:80vh;
  left: 40vw;
}

/*Responsive for tablets*/
@media (min-width: 768px) and (max-width: 1024px) {
  .main_part1{
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main_part1_hezenintro {
    width:100%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;
    padding-bottom: 5vh;
  }
  .main_part1_hezenintro h1 {
    font-family: "futura-logo";
    font-size: 10rem;
    margin:0;
  }
  .main_part1_hezenintro h3 {
    font-size: 1.8rem;
    font-weight: 100;
    margin: 3vh 0 0 0;
  }
  .main_part1_hezenintro h2 {
    font-family: "NauSea";
    font-size: 3rem;
    font-weight: 100;
  }
  .main_part1_hezenintro a {
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #DAE4E3;
    border-radius: 10px;
    padding: 3% 25% 3% 25%;
  }
  .main_part1_youtubeAPI{
    width:100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .main_part1_youtubeAPI iframe {
    width:800px;
    height:450px;
  }
  .arrow_anchor {
    width:150px;
    position: absolute;
    top:88vh;
    left: 40vw;
  }
}

/*Responsive for mobile phones */
@media (max-width: 767px) {
  .header_elements nav, .header_elements .social_media {
    display: none;
  }
  .hamburger {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}
