/* MAIN */
body{
  margin: 0;
  padding: 0;
  font-family:'futura-text';
  color: white;
  background: #510E10;
  align-items: center;
}

.page_collabs {
  display: flex;
  flex-direction: column;

}
.api{
  width:100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;

}

 .title h2{
  font-family: "futura-logo";
  font-size: 5rem;
  font-weight: normal;
  margin-top:122px;
  color: white;
  display: flex;
    justify-content: center;
}


 .title h3{
  font-family: "futura-logo";
  color: white;
  font-size: 2.7rem;
  font-weight: normal;
  margin-top:-20px;
  display: flex;
  justify-content: center;
}




.first_collab p{
  justify-content: center;
  font-weight: normal;
  color: white;
  font-size: 1.4rem;
  display: flex;
}




/* YouTube API */

 iframe {
  width:800px;
  height:444px;
  border: none;
}

.youtubeAPi{
  width:100%;
  height:auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}



/* Medias */

.medias{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 40px;
}
.mediadeux {
  margin-top: 100px;
}

.medias + a img{
  display: flex;
  flex-direction: row-reverse;
}

.medias > a img{
  width: 35px;
}

/* Responsive for tablets */
@media (min-width: 768px) and (max-width: 1024px){
   .title h2{
    font-size: 4rem;
  }

  h3{
    font-size: 2.4rem;
    margin-top: -30px;
  }

  .first_collab p{
    font-size: 1rem;
    margin-top: 10px;
  }

  .api{
    width:100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;

  }
  .api iframe {
    width:500px;
    height:281px;
    margin-top: 3vh;
  }

}

/*responsive for phones */
@media screen and (max-width: 767px){

  body{
    margin: 0 auto;
  }

  .title h2{
   font-size: 3rem;
  }

  h3{
    font-size: 2rem;
    margin-top: -30px;
  }

  .first_collab p{
    font-size: 1rem;
    margin-top: 10px;
  }

  .api{
    width:100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;

  }
  .api iframe {
    width:450px;
    height:253px;
    margin-top: 3vh;
  }


  .mediadeux{
    margin-top: 40px;
  }
  .medias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
}
