/* MAIN */
body{
  margin: 0;
  padding: 0;
  font-family:'futura-text';
  color: white;
  background: #510E10;
}

.page_collabs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .title h2{
  font-family: "futura-logo";
  font-size: 5rem;
  font-weight: normal;
  margin-top:122px;
  color: white;
}

.prada{
  height: 44px;
  width: 253px;
  position: relative;
  background: white;
}

.prada_logo {
  height: 44px;
  width: 256px;
  position: absolute;
}




 h3{
  font-family: "futura-logo";
  color: white;
  font-size: 2.7rem;
  font-weight: normal;
  margin-top:-40px;
}

#year2017{
  margin-left: 631px;
  padding-top: 67px;
}


.first_collab p{
  font-weight: normal;
  color: white;
  font-size: 1.8rem;
  margin-left: -55px;
  text-align: center;
  margin-top: 25px;
}




/* YouTube API */

 iframe {
  width:800px;
  height:444px;
}

.first_youtubeAPi{
  width:100%;
  height:auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.second_youtubeAPI{
  width:100%;
  height:auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Medias */

.medias{
  margin-left: 606px;
  margin-top: 20px;
  margin-right: 565px;
  padding-bottom: 25px;
}
}

.medias + a img{
  display: flex;
  align-items:space-between;
  flex-direction: row-reverse;
}

.medias > a img{
  width: 35px;
}

/* Responsive for tablets */
@media (min-width: 768px) and (max-width: 1024px){
   .title h2{
    height:auto;
    width: auto;
  }
}

/*responsive for phones */
@media screen and (max-width: 767px){

  .title h2{
   font-size: 3rem;
  }

  h3{
    font-size: 2rem;
    margin-top: -30px;
  }

  .first_collab p{
    width: 500px;
    margin-left: 30%;
    font-size: 1.3rem;
    margin-top: 10px;
  }

  .prada_logo {
    height: 22px;
    width: 128px;
  }

  .prada{
    height: 22px;
    width: 128px;
  }

  #year2017{
    margin-left: 50%;
    padding-top: 20px;
  }
}
