body{
  margin: 0;
  padding: 0;
  font-family:'futura-text';
  color: #444;
  background: #510E10;
}

.page_concerts {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
  color: #fff;
}

.concerts_title h2 {
  padding-top: 10px;
  font-size: 40px;
}
.song{
   width: 50%;
   height: auto;
}
