body{
  margin: 0;
  padding: 0;
  font-family:'Roboto', 'Arial' sans-serif;
  color: #444;
  background: #510E10;
}

/*HEADER*/

header {
  background: #DAE4E3;
  height: 60px;
}

#headerLogo {
  width: 165px;
  height: 44px;
  margin-top: 9px;
  margin-left: 20px;
}

.header_elements {
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  margin: 20px 20px;
  text-decoration: none;
}

/*social media*/
.social_media img{
  margin: 20px 5px;
}
/*END HEADER*/
