body{
  margin: 0;
  padding: 0;
  font-family:'futura-text';
  color: #444;
  background: #510E10;
}

/*HEADER*/

header {
  background: #DAE4E3;
  height: 60px;
}

#headerLogo {
  width: 165px;
  height: 44px;
  margin-top: 9px;
  margin-left: 20px;
}

.header_elements {
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  font-size: 20px;
  margin: 20px 20px;
  text-decoration: none;
  color: #000;
}
nav a:hover {
  border-bottom: solid 3px #510E10;
}

/*social media*/
.social_media img{
  margin: 20px 5px;
}
/*END HEADER*/

/*MAIN*/
main {
  display: flex;
  justify-content: space-around;
}
#redHezen {
  width: 250.5px;
  height: 376px;
  padding-top: 65px;
  padding-left: 25px;
}
#darkHezen {
  width: 272px;
  height: 272px;
  padding-top: 100px;
  padding-right: 25px;
}

.contact_info {
  color: #fff;
  text-align: center;
}

.contact_info h1 {
  font-family: "futura-logo";
  font-size: 55px;
}

h3 {
  font-size: 30px;
}
