@font-face {
  font-family: "futura-text";
  src: url("../fonts/futura/futura light bt.ttf");
}
@font-face {
  font-family: "futura-logo";
  src: url("../fonts/futura/futura medium condensed bt.ttf");
}
@font-face {
  font-family: "NauSea";
  src: url("../fonts/Nau Sea.otf");
}
