/*HEADER */

/* Desktop */
header {
    background: #DAE4E3;
    height:10vh;
    width: 100%;
    top: 0px;
    position: fixed;
  }

  #headerLogo {

    height: 90%;
    margin-left: 20px;
  }

  .header_elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100%;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  nav a {
    font-size: 20px;
    margin: 0 20px;
    text-decoration: none;
    color: #000;
    border: 3px solid rgba(0, 0, 0, 0);
  }
  nav a:hover {
    border-bottom: 3px solid #510E10;
  }
  .hamburger{
    display: none;
  }

  /*social media*/
  .social_media img{
    margin: 0 5px;
  }

/* Fin Desktop */

/* Responsive */

@media (max-width: 767px) {
  .header_elements nav, .header_elements .social_media {
    display: none;
  }
  .hamburger {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}
@media (min-width:768px) and (max-width: 955px){
  .header_elements .social_media {
    display: none;
  }
}
/* Fin Responsive */

/*Hamburger menu*/
@media (max-width: 767px) {
.menu_sidebar {
  position: fixed;
  right:0;
  top: 10vh;
  width:50vw;
  height:50vh;
  background-color:  #DAE4E3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.menu_sidebar nav {
  display: flex;
  flex-direction: column;
  height: 80%;
  text-align: center;
  width:100%;
}
.menu_sidebar .social_media {
  display: flex;
  flex-direction: row;
  height: 20%;
  width:100%;
  align-items: center;
  justify-content: space-around;
}
.sidebar_open {
  display: block;
}
.sidebar_close {
  display: none;
}
}
/*desktop*/
.sidebar_close {
  display: none;
}
  /* FIN HEADER */


  /* FOOTER */

  /* Desktop */
  footer {
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
  }

  .social_media_footer {
    padding-top: 20px;
  }

  .social_media_footer a{
    margin: 10px;
  }
  .social_media_footer img {
    height: 24px;
    width: 24px;
  }

  #cp_hezen {
    font-size: 10px;
    color: #fff;
    margin-top: 10px;
  }

  .sup_info a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    margin: 0 30px;
  }

  /* Fin Desktop */

  /* Responsive */



  /* Fin Responsive */

  /* FIN FOOTER */
