body{
    margin: 0;
    padding: 0;
    font-family:'futura-text';
    color: black;
    background: #DAE4E3;
  }

  /*FLEXBOX CHEATS*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row{
    display: flex;
    flex-direction: row;
  }
  .column{
    display: flex;
    flex-direction: column;
  }
  

/*HEADER*/

header {
    background: #DAE4E3;
    height:8vh;
    width: 100%;
    position: fixed;
  }
  
  #headerLogo {
    width: 165px;
    height: 44px;
    margin-left: 20px;
  }
  
  .header_elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100%;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    font-size: 20px;
    margin: 0 20px;
    text-decoration: none;
    color: #000;
  }
  nav a:hover {
    border-bottom: solid 3px #510E10;
  }
  .hamburger{
    display: none;
  }
  
  /*social media*/
  .social_media img{
    margin: 0 5px;
  }
  

main{
    background-color: #510E10;
}

p{
    color: white;
}

#spotifyPlayer{
    margin-top: 5%;
    margin-bottom: 5%;
}

.bigDivLogo{
    display: flex;
    justify-content: center;
}

.bigDivLogo_first, .bigDivLogo_second{
    width: 550px;
}

.bigDivLogo_first img, .bigDivLogo_second img{
    height: 40px;
}
