
body{
  margin: 0;
  padding: 0;
    font-family:'futura-text';
    color: white;
    background: #510E10;
  }

#title_page{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  font-size: 23px;
}

#spotifyPlayer{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.bigDivLogo{
    display: flex;
    justify-content: space-around;
}

.bigDivLogo_first, .bigDivLogo_second{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3%;
}


iframe{
  border: none;
}


.bigDivLogo_first img, .bigDivLogo_second img{
    height: 40px;
}

/* Responsive */

@media only screen and (max-width: 600px) {
  #spotifyPlayer{
    width: 94%;
    margin-left: 3%;
    box-shadow: 4px 4px 14px #000;
    margin-top: 5%;
    margin-bottom: 11%;
  }

  .bigDivLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
}

  .bigDivLogo_first div, .bigDivLogo_second div{
    margin-top: 20%;
  }




}
